body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f8ff;
	font-family: 'Courier New', Courier, monospace;
}

.container {
	max-width: 400px;
	text-align: center;
	padding: 20px;
	border: 2px solid #007bff;
	border-radius: 10px;
	background-color: white;
}

.message {
	margin-top: 10px;
	font-size: 1.2em;
	color: red;
}

.equation {
	font-size: 1.5em;
}

#answerInput {
	width: 50px;
	display: inline-block;
	text-align: center;
	-moz-appearance: textfield; /* Firefox */
}

/* Remove arrows for Chrome, Edge, and Safari */
#answerInput::-webkit-outer-spin-button,
#answerInput::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* For Internet Explorer */
#answerInput {
	-ms-appearance: none;
}

.score {
	font-size: 1.2em;
	color: #007bff;
	margin-top: 20px;
}

.timer {
	font-size: 1.2em;
	color: #f58157;
}

#level {
	font-weight: bold;
	font-size: 1.2em;
	color: #007bff;
}

/* Modal Styles */
.modal {
	display: none; /* Hidden by default */
	position:absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: 'Courier New', Courier, monospace;
}

.modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	text-align: center;
}

.modal input {
	width: 90%;
	padding: 10px;
	margin: 10px 0;
}

.modal button {
	margin: 5px;
	padding: 10px 15px;
	cursor: pointer;
}

.success {
    color: green;
	font-size: x-large;
	font-weight: bold;
}

.failure {
    color: red;
	font-size: larger;
	font-weight: bold;
}
